html, body {
  margin: 5px;
}
a,
a:visited {
  color: #0c84a9;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.active {
  font-weight: 700;
  text-decoration: underline;
}
.inline-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline;
}
.inline-list li {
  display: inline;
}
.inline-list.rooms li:after {
  content: ' / '
}
.inline-list li:after {
  content: ', '
}
.inline-list li:last-child:after {
  content: ''
}
.map img {
  max-width: 100%;
}
@media (min-width: 768px) { /*tablets*/
  .map {
    position: absolute;
    margin: 5px;
  }
  .plan {
    position: absolute;
    margin: 5px;
    width: 190px;
  }
  .sessions {
    position: absolute;
    margin: 5px;
    margin-left: 200px;
  }
}
