html, body {
  margin: 5px;
}
a,
a:visited {
  color: blue;
}
.active {
  font-weight: 700;
}
@media (min-width: 768px) { /*tablets*/
  .plan {
    position: absolute;
    margin: 5px;
    width: 190px;
  }
  .sessions {
    position: absolute;
    margin: 5px;
    margin-left: 200px;
  }
}
